<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/assets.js"></script>
    <script src="js/mvData.js"></script>
    <script src="js/router.js"></script>
    <link rel="stylesheet" href="scss/all.css">

    <!-- ======= 標題 & 收藏夾 ======= -->
    <link rel="icon" href="./images/other/icoLogo.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="./images/other/icoLogo.ico" type="image/x-icon" />

    <!-- ======= KEYWORD ======= -->
    <meta name="keywords" content="18+,SWAG,Porn,免費A片,JAV,FANZA,DMM">

    <!-- ======= Open Graph ======= -->
    <meta property="og:type" content="video" />
    <meta property="og:image" content="./images/other/ogImg.jpg" />
    <meta property="og:image:width" content="500"/>
    <meta property="og:image:height" content="200"/>
</head>

<body id="indexVue">
    <!-- ============== 變動head data ============== -->
    <meta property="og:title" :content="reOgTitle(nowStatus.title)">
    <meta property="og:description" :content="nowStatus.desc" />
    <meta name="description" :content="nowStatus.desc" />
    <title>成人影視平台 | 18Caress | {{nowStatus.title}}</title>

    <!-- =========================================== -->

    <div class="indexBox">       
        <!-- ===== fullShow start ===== -->
        <div class="fullShow">
            <div class="top">
                <h1 class="txtLogo" alt="txtLogo">
                    <a href="#/home">18caress</a>    
                </h1>
                <div class="menuBar" @click="sortMenu = !sortMenu">
                    <div class="icon" :class="{'on':sortMenu}">
                        <span></span>
                    </div>
                </div>
            </div>
            <!-- imgList start (圖片展示) -->
            <div class="imgList">
                <template v-for="(item,index) in carousel.imgList">
                    <div :style="getbgi(item)"
                         :class="{'on' : carousel.nowShow == item.key}"
                         :alt="item.alt"
                         >
                    </div>              
                </template>
            </div>

            <!-- actressMenu (女優分類) -->
            <div class="actressMenu">
                <ul>
                    <li v-for="(item,index) in carousel.menu.right"
                         @mouseover="carousel.nowShow = item.imgSrc">
                         <a :href="item.href">
                             <h2>{{item.title}}</h2>
                        </a>       
                    </li>
                </ul>
            </div>

            <!-- sortMenu start (類別分類) -->
            <div class="sortMenu" :class="{'on':sortMenu}">
                <div class="closeBg" @click="sortMenu = false"></div>
                <div class="closeBtn" @click="sortMenu = false"></div>
                <div class="menu">
                    <ul>
                        <template v-for="(item,index) in carousel.menu.bottom">
                            <li @mouseover = "carousel.nowShow = item.imgSrc" 
                                @click="sortMenu = false, nowPage = item.imgSrc">
                                <a :href="item.href">
                                    <div class="theme">
                                        <h2 class="twTxt"
                                        >{{item.twTxt}}</h2>
                                        <h3 class="enTxt">{{item.enTxt}}</h3>
                                    </div>
                                    <div class="subtitle">
                                        <span v-for="subTxt in item.subtitle">{{subTxt}}</span>
                                    </div>
                                </a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ===== dlBtn start ===== -->
        <div class="dlBtn">
            <ul>
                <template v-for="(item,index) in dlBtn">
                    <li>
                        <a :href="item.link">
                            <img :src="item.img" :alt="item.alt">
                        </a>       
                    </li>              
                </template>
            </ul>
        </div>

        <!-- ===== mvBox start ===== -->
        <div class="mvBox">
            <div class="nowtitle">正在播放 {{nowStatus.title}}</div>

            <div id="content"></div>  

            <div class="footer">
                <p>
                    <span>Copyright &copy; since 2020</span>
                    <span>18caress All Rights Reserved.</span>
                </p>
            </div>
        </div>
    </div>

    <script src="js/index.js"></script>
</body>

</html>